nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}
ul{
    display: flex;
    gap: 12px;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
